{% extends "base.html" %}


{% block title %}Bug Detail{% endblock %}

{% block content %}

<div class="col-sm-4">
</div>
<div class="container-fluid col-sm-4">
  <h2>Bug detail</h2>
  <p>{{ bug.bug_title}}</p>
  <p>{{bug.bug_description}}</p>

    <p><a href="{% url 'bug:bug-update' pk=bug.id %}" class="btn btn-primary">Update</a></p>
  <p><a href="{% url 'bug:index'%}" class="btn btn-warning">Back</a></p>
  <p><a href="{% url 'bug:bug-delete' pk=bug.id %}" class="btn btn-danger">Delete</a></p>

</div>
<div class="col-sm-4">
</div>
{% endblock content%}
