{% extends 'base.html' %}
{% load static %}
{% load rules %}

{% block title %}Index{% endblock %}

{% block content %}
<link href="{% static '/bug/styles/main.css' %}" rel="stylesheet">
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-2"></div>
    <div class="col-md-8 table-responsive">
      <div>

        <h3 style="float:left">List of Bugs</h3>
        {% has_perm 'bug.add_bug' user bug as can_add_bug%}
        {% if can_add_bug %}
          <a href="{% url 'bug:bug-form' %}" class="btn btn-dark" role="button" style="float:right">Report Bug</a>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-info" role="button" style="float:right; margin-right:1rem">Back to Home</a>
        {% if latest_bug_list %}
          <p  style="float:right; margin-right:1rem">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </p>
        {% endif %}
      </div>
      {% if latest_bug_list %}

          <table class="bug-table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">State</th>
              <th scope="col">Reported By</th>
              <th scope="col">Published on</th>
              <th scope="col">Updated on</th>
            </tr>
          </thead>
          <tbody>
            {% for bug in latest_bug_list %}
            {% has_perm 'bug.read_bug' user bug as can_read_bug%}
            {% if can_read_bug %}
              <tr class="table-row" data-href="{% url 'bug:bug-detail' pk=bug.id %}">
              <th scope="row">{{forloop.counter}}</th>
              <td>{{ bug.bug_title }}</td>
              <td>{{ bug.bug_description }}</td>
              <td>{{ bug.bug_status }}</td>
              <td>{{bug.reported_by}}</td>
              <td>{{bug.get_pub_date}}</td>
              <td>{{bug.get_update_date}}</td>
              </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <nav style="float:right" aria-label="page navigation">
          <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">First</span>
                </a>
              </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
              {% endif %}
              {% for page_num in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{page_num}}</a></li>
              {% endfor %}
              {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>

                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><span class="sr-only">Last</span> <span aria-hidden="true">&raquo;</span></a></li>
              {% endif %}
          </ul>
          <p  style="float:right; margin-right:1rem">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </p>
        </nav>
      {% else %}
      <div class="row container">
          <p>No bugs reported</p>
      </div>
      {% endif %}

      </div>
    </div>

    <div class="col-md-2"></div>
  </div>
<script>
  $(document).ready(function($) {
      $(".table-row").click(function() {
          window.document.location = $(this).data("href");
      });
  });
</script>


{% endblock content %}
